*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
:root {
--dugme: #5c3502;
--dugmehover: #dbad2d;
--toplabijela: #FDF9F4;
--rezervacija: #E8BE6A;

  
  --crvena: #C4603A;

  
  --slajderpoz: #2C2416;
  --siva: #7A6E61;

  --gold: #C9973A;
  --gold-light: #E8BE6A;

  --border: rgba(44,36,22,0.12);

}

html { scroll-behavior: smooth; }

body {
  font-family: 'Lato', sans-serif;
  background: white;
}

nav {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 100; 
  background: rgba(146, 118, 71, 0.96);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 70px;
}

.nav-logo{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1.2px;
    color: rgb(233, 233, 118);
}

.nav-logo img {
  height: 65px;
  width: auto;
}

.nav-lista {
  display: flex;
  gap: 30px;
  list-style:none;
}

.nav-lista a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: color 0.4s;
  
}
 
.nav-lista a:hover { color: rgb(219, 173, 45); }

.nav-kontakt {
  background: rgb(92, 53, 2);
  color: #fff !important;
  padding: 7.5px 18px;
  border-radius: 4px;
  font-weight: 650;
  transition: background 0.4s ease;
}
 
.nav-kontakt:hover {
  background: rgb(219, 173, 45);
  color: #fff !important;
}





/*-----------------------------------------------------------------------------------*/
.pocetna {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url('/images/index_pocetna.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 80px 20px 60px;
  background-blend-mode: normal;
}
 
.pocetna::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('images/pattern.svg');
  opacity: 0.3;
}
 
.pocetna-a {
  position: absolute;
  width: 500px;
  height: 500px;
  border: 1px solid rgba(201,151,58,0.15);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
 
.pocetna-b {
  width: 700px;
  height: 700px;
  border-color: rgba(201,151,58,0.07);
}
 
.pocetna-tekst {
  position: relative;
  z-index: 2;
  max-width: 700px;
}
 
.pocetna-naslov {
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color:rgba(255, 255, 255, 0.747);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
 
.pocetna-naslov::before,
.pocetna-naslov::after {
  content: '';
  width: 40px;
  height: 1px;
  background-color: rgba(255, 166, 0, 0.63);
  opacity: 0.5;
}
 
.pocetna h1 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: clamp(52px, 9vw, 88px);
  font-weight: 700;
  color: #FDF9F4;
  line-height: 1.05;
  margin-bottom: 8px;
}
 
.pocetna-opis {
  font-size: 16px;
  color: rgba(253,249,244,0.7);
  line-height: 1.8;
  max-width: 480px;
  margin: 0 auto 40px;
}
 
.pocetna-dugme {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
 




.dugme-jelovnik {
  background: var(--dugme);
  color: #fff;
  padding: 14px 36px;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s, transform 0.15s;
  text-decoration: none;
  display: inline-block;
}
 
.dugme-jelovnik:hover {
  background: var(--dugmehover);
  transform: translateY(-1px);
}
 
.dugme-rezervacija {
  background: transparent;
  color: rgba(253,249,244,0.85);
  padding: 14px 36px;
  border: 1px solid rgba(253,249,244,0.3);
  border-radius: 2px;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  transition: border-color 0.2s, color 0.2s;
  text-decoration: none;
  display: inline-block;
}
 
.dugme-rezervacija:hover {
  border-color: var(--rezervacija);
  color: var(--rezervacija);
}

/*-----------------------------------------------------------------------------------*/
.o-nama { 
  background: var(--toplabijela); 
}

.o-nama-mreza {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.o-nama-tekst p {
  font-size: 16px;
  color: var(--siva);
  line-height: 1.9;
  margin-bottom: 20px;
}


.o-nama-statistika {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 40px;
}

.stat-kartica {
  border-left: 3px solid var(--crvena);
  padding-left: 20px;
}

.stat-broj {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--slajderpoz);
  line-height: 1;
  margin-bottom: 4px;
}

.stat-opis {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--siva);
  text-transform: uppercase;
}

/* slideshow */
.o-nama-vizualno {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  aspect-ratio: 3/4;
  background: var(--slajderpoz);
  display: flex;
  align-items: flex-end;
}

.slajder {
  width: 100%;
  height: 100%;
  position: relative;
}

.slajd {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.slajd.aktivno {
  opacity: 1;
}

.slajd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slajder-tacke {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 10;
}

.tacka {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255,255,255,0.4);
  cursor: pointer;
  transition: background 0.3s;
}

.tacka.aktivno {
  background: var(--gold);
}

.slajd-dugme {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(44,36,22,0.6);
  color: var(--gold-light);
  border: none;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  border-radius: 2px;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slajd-dugme:hover {
  background: rgba(44,36,22,0.9);
}

.slajd-prethodna { left: 12px; }
.slajd-sljedeca { right: 12px; }

/*-----------------------------------------------------------------------------------*/
footer {
  background: rgba(146, 118, 71);
  display: flex;
    justify-content: space-between;
  padding: 40px 5%;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.05);
  
  }

  .footer-sredina {
    text-align: center;
    display: flex;
    flex-direction: column;
}

  .footer-logo{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1.2px;
    color: rgb(233, 233, 118);
    margin-bottom: 14px;
}
.footer-tag {
  font-size: 14px;
  letter-spacing: 3px;
  color: rgba(255,255,255,0.35);
  text-transform: uppercase;
  margin-bottom: 24px;
}
 
.footer-linkovi {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
 
.footer-linkovi a {
  font-size: 14px;
  color: rgba(255,255,255,0.4);
  text-decoration: none;
  letter-spacing: 1.3;
  text-transform: uppercase;
  transition: color 0.4s;
}
.footer-linkovi a:hover { color: rgb(219, 173, 45); }
 
.footer-imena {
  list-style-type: none;
  font-size:12px;
  color:rgba(27, 18, 1, 0.4);
  margin-top:10px;
  padding: 0;
    text-align: center;
}

.footer-prava {
  margin-top: 20px;
  font-size: 11px;
  color: rgba(255,255,255,0.2);
  text-decoration: none;
}

.footer-prava a{
  margin-top: 20px;
  font-size: 11px;
  color: rgba(255,255,255,0.2);
  text-decoration: none;
}

.footer-kontat{
  text-align: center;
  color:rgba(0, 0, 0, 0.4);
}

.footer-desno {
    text-align: center;
    color:rgba(0, 0, 0, 0.4);
}
.footer-desno h3{
    color: #e7cb5a;      
    font-size: 14px;      
    text-transform: uppercase; 
    margin-bottom: 8px; 
    font-family: 'Arial', sans-serif; 
}
.footer-desno p{
    color: #3f3d35;      
    font-size: 14px;      
    text-transform: uppercase; 
    margin-bottom: 5px; 
    font-family: 'Arial', sans-serif; 
}


.footer-desno a {
  color: rgba(3, 2, 2, 0.534);
           
  font-size: 13px;
  text-decoration: none;
  transition: color 0.2s;
}
.footer-desno a:hover { color: rgb(219, 173, 45); }



























































/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////*/







/* ABDUSSELAM */

/* HERO SLIKE */
.hero-slika-kontejner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-slika {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-tekst {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 10;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.hero-tekst h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.hero-tekst p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .hero-tekst h1 {
    font-size: 2.5rem;
  }
  .hero-tekst p {
    font-size: 1rem;
  }
}




/* KONTAKT CSS*/
:root {
    --zlatna: #d4a373;
    --bela-linija: #ffffff;
    --staklo: rgba(10, 10, 10, 0.9);
    --tekst: #ffffff;
}

.light-mode {
    --staklo: rgba(245, 245, 245, 0.95);
    --bela-linija: #d4a373;
    --tekst: #111111;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?w=1500');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    transition: 0.5s;
    min-height: 100vh;
}

body.light-mode {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?w=1500') !important;
}

/* GORNJI */
.gornji { 
     display: flex;
     justify-content: flex-end;
      padding: 20px 50px; 
    }
.prekidac-kontejner { 
     display: flex;
     align-items: center; 
     gap: 10px;
      font-weight: bold; }
.light-mode .prekidac-kontejner { color: #111; }

.toggle-switch {
         width: 60px;
         height: 30px;
         background: #333; 
         border-radius: 20px;
         border: 2px solid var(--bela-linija);
         position: relative; 
         cursor: pointer;
          transition: 0.4s;
         }
.krug {
     width: 22px; 
     height: 22px;
      background: var(--zlatna);
       border-radius: 50%;
        position: absolute; 
        top: 2px; left: 4px;
         display: flex;
          align-items: center;
           justify-content: center;
            transition: 0.4s;
         }
.light-mode .krug { left: 30px; background: #111; }

/* LAYOUT */
.glavni-kontejner {
     max-width: 1100px;
      margin: 0 auto; 
      padding: 20px;
       animation: fadeIn 1s ease-out;
     }
.naslov {
     text-align: center;
      color: var(--zlatna);
       font-size: 3.5rem;
        margin-bottom: 40px;
         text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
         }

.GORNJI { 
     display: grid; 
     grid-template-columns: 1fr 1fr;
     gap: 30px;
      margin: 0 auto 30px;
      max-width: 1100px;
     }

.donji {
     max-width: 1100px;
     margin: 0 auto;
     margin-top: 30px;
}
     
.kutija { 
     background: var(--staklo);
    line-height: 1.8;
     border: 2px solid var(--bela-linija);
      padding: 30px;
       border-radius: 20px; 
       color: var(--tekst);
        transition: 0.3s;
     }
.kutija h3 {
     text-align: center; 
     margin-bottom: 25px; 
     color: var(--zlatna); 
     letter-spacing: 2px;
      text-transform: uppercase;
     }

/* FORME */
.label-stil { 
     display: block;
     margin-top: 15px; 
     margin-bottom: 5px;
      font-size: 13px; 
      color: var(--zlatna);
       font-weight: bold; 
    }
input, textarea {
     width: 100%; 
     padding: 12px;
      margin: 5px 0 15px 0; 
      background: rgba(255,255,255,0.05);
       border: 1px solid var(--zlatna); 
       color: white; 
       border-radius: 8px;
        font-size: 16px; 
        font-family: inherit;
     }
.light-mode input, .light-mode textarea { background: white; color: black; }

.DUGME { 
    background: var(--zlatna); 
    width: 100%; 
    padding: 15px;
     border: none;
      color: white; 
      font-weight: bold;
       border-radius: 8px; 
       cursor: pointer;
        transition: 0.3s;
     }
.btn-zalba { 
     background: #833838;
     width: 100%; 
     padding: 12px;
      border: none;
       color: white; 
       border-radius: 8px;
        cursor: pointer;
         transition: 0.3s;
         }
.DUGME:hover, .btn-zalba:hover {
   transform: scale(1.03);
    box-shadow: 0 0 15px var(--zlatna);
   }

.google-maps-box { 
    min-height: 220px;
     margin-top: 40px;
      border-radius: 10px;
       overflow: hidden; 
       border: 1px solid var(--zlatna);
     }

.kontakt-tekst p {
     margin-bottom: 10px;
}

/* MODAL */
.modal {
     display: none;
      position: fixed;
       z-index: 9999;
        left: 0;
         top: 0;
          width: 100%;
           height: 100%;
            background: rgba(0,0,0,0.85); 
            backdrop-filter: blur(8px);
         }
.modal-sadrzaj {
     background: var(--staklo); 
     border: 2px solid var(--zlatna);
      margin: 10% auto;
       padding: 40px; 
       width: 350px;
        border-radius: 25px; 
        text-align: center;
         color: white;
          animation: pop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
         }
.light-mode .modal-sadrzaj {
     background: white; 
     color: black;
     }
.btn-zatvori {
     background: var(--zlatna);
      border: none;
       padding: 10px 30px; 
       color: white; 
       border-radius: 5px;
        cursor: pointer;
         margin-top: 20px;
          font-weight: bold;
         }

@keyframes fadeIn {from { opacity: 0; transform: translateY(30px); } to { opacity: 1; transform: translateY(0); } }
@keyframes pop { from { transform: scale(0.5); opacity: 0; } to { transform: scale(1); opacity: 1; } }

::-webkit-calendar-picker-indicator { filter: invert(0.8) sepia(1) saturate(5) hue-rotate(10deg); cursor: pointer; }






































/* ADEL */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: white;
    color: #333;
    line-height: 1.6;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #b08a57;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    z-index: 1000;
}

.logo img {
    width: 120px;
}

/* NAVIGACIJA */

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #2b1a0f;
}

/* DARK MODE TOGGLE */

.toggle-container {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #444;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 4px;
    bottom: 4px;
    background: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #222;
}

input:checked + .slider::before {
    transform: translateX(24px);
}

/* HERO SEKCIJA */

.hero {
    height: 100vh;
    background: url("/images/restoran2.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.45);
    padding: 60px;
    border-radius: 10px;
    max-width: 900px;
}

.location {
    letter-spacing: 4px;
    font-size: 14px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 80px;
    font-family: Georgia, serif;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 22px;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

/* BUTTONS */

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 15px 35px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}

.gold {
    background: #8b5a00;
    color: white;
}

.gold:hover {
    background: #6d4600;
}

.transparent {
    border: 1px solid white;
    color: white;
}

.transparent:hover {
    background: white;
    color: black;
}

/* SEKCIJE */

.meni,
.kontakt {
    padding: 80px 20px;
    max-width: 1000px;
    margin: auto;
}

.meni h2,
.kontakt h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

/* TABS */

.tabs {
    text-align: center;
    margin-bottom: 30px;
}

input[type="radio"] {
    display: none;
}

.tabs label {
    display: inline-block;
    background-color: #f4a261;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.tabs label:hover {
    background-color: #e76f51;
}

/* MENI ITEMS */

.item {
    display: flex;
    background: white;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.item img {
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.item-info {
    padding: 20px;
    flex: 1;
}

.item h3 {
    margin-bottom: 10px;
    color: #8b5a00;
}

.item p {
    color: #555;
}

/* FILTER MENI */

#sva:checked ~ .content .item {
    display: flex;
}

#dorucak:checked ~ .content .item {
    display: none;
}
#dorucak:checked ~ .content .item.dorucak {
    display: flex;
}

#rucak:checked ~ .content .item {
    display: none;
}
#rucak:checked ~ .content .item.rucak {
    display: flex;
}

#vecera:checked ~ .content .item {
    display: none;
}
#vecera:checked ~ .content .item.vecera {
    display: flex;
}

#desert:checked ~ .content .item {
    display: none;
}
#desert:checked ~ .content .item.desert {
    display: flex;
}

#salate:checked ~ .content .item {
    display: none;
}
#salate:checked ~ .content .item.salate {
    display: flex;
}

/* FOOTER */

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}



/* DETALJNI SADRŽAJ */

.detalji {
    padding: 80px 20px;
    max-width: 1100px;
    margin: auto;
}

.detalji h2,
.detalji h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #8b5a00;
}

.bookmark-nav {
    text-align: center;
    margin-bottom: 40px;
}

.bookmark-nav a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: #8b5a00;
}

.bookmark-nav a:hover {
    color: #e76f51;
}

/* TABELA */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 60px;
    background: white;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

th,
td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

th {
    background: #b08a57;
    color: white;
}

/* GALERIJA */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 60px;
}

.gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

/* IMAGE MAP */

#mapa img {
    width: 100%;
    max-width: 900px;   /* vraćena normalna veličina kao prije */
    display: block;
    margin: 0 auto 60px;
    border-radius: 10px;
}

/* LISTA */

.nested-list {
    padding-left: 30px;
    margin-bottom: 60px;
}

.nested-list li {
    margin-bottom: 10px;
}

/* SKOČI NA VRH */

.top-link {
    text-align: center;
    margin-top: 40px;
}

.top-link a {
    text-decoration: none;
    font-weight: bold;
    color: #8b5a00;
    font-size: 18px;
}

.top-link a:hover {
    color: #e76f51;
}


/* adel 

/* UGNIJEŽĐNA LISTA */
.lista-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 60px;
}

/* gornji red - 3 kartice */
.lista-kartica:nth-child(1) {
    grid-column: 1 / 3;
}

.lista-kartica:nth-child(2) {
    grid-column: 3 / 5;
}

.lista-kartica:nth-child(3) {
    grid-column: 5 / 7;
}

/* donji red - centrirani Deserti + Salate */
.lista-kartica:nth-child(4) {
    grid-column: 2 / 4;
}

.lista-kartica:nth-child(5) {
    grid-column: 4 / 6;
}

.lista-kartica {
    background: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: 0.3s;
    border-top: 4px solid #b08a57;
}

.lista-kartica:hover {
    transform: translateY(-5px);
}

.lista-kartica h4 {
    color: #8b5a00;
    margin-bottom: 15px;
    font-size: 22px;
    text-align: center;
}

.lista-kartica ul {
    padding-left: 20px;
}

.lista-kartica ul li {
    margin-bottom: 10px;
    color: #444;
    font-size: 16px;
}

.lista-kartica ul li ul {
    margin-top: 10px;
    padding-left: 20px;
}

.lista-kartica ul li ul li {
    color: #666;
    font-size: 15px;
}


/* OBOJENE TAČKE ZA UGNIJEŽĐENU LISTU */

.lista-kartica ul {
    padding-left: 22px;
    list-style-type: disc;
}

.lista-kartica ul li {
    margin-bottom: 10px;
    color: #444;
    font-size: 16px;
}

/* boja glavnih tačaka */
.lista-kartica ul li::marker {
    color: #b08a57;
    font-size: 18px;
}

/* unutrašnja lista */
.lista-kartica ul li ul {
    margin-top: 8px;
    padding-left: 22px;
    list-style-type: circle;
}

.lista-kartica ul li ul li {
    color: #666;
    font-size: 15px;
}

/* boja unutrašnjih tačaka */
.lista-kartica ul li ul li::marker {
    color: #d48a2f;
    font-size: 16px;
}


/* ADEL */











